 body{
 	margin 0;
 	padding 0;
 	font-family: Helvetica, sans-serif;
 	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(code.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;

 }

#header
{
	height: 100vh; 
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(code.jpg);
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	color: white;
	text-align: center;
	animation-duration: 1.8s;
  	animation-name: slidein;
}

.moi{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	height: auto;
	position: center;
	border-radius: 50%;
	margin: auto;

}

.petit{
	border-radius: 50%;
	margin: auto;
}

#Presentation{
	display: block;
	width: auto;
	height: 100vh;
}



ul{
	position: sticky;
	top: 0;
	list-style-type: none;
	margin :0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

li{
	display: inline;
	float: left;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration : none;
}

li a:hover{
	background-color: #4CAF50;
}

.active{
	background-color: #4CAF50;
}

.header{
	border :3px grey solid;
}

#Cote{
    width: 70%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    margin-top: 10%;
    box-shadow: inset 5px 0 5px -5px #29627e;
    color: #29627e;
    font-size: 2em;
}



.citation{
	font-style: italic;
	animation-duration: 3s;
  	animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

#Competences{

	height: 100vh;
	width: auto;
}

#Contact{
	color: white;


 }

 #Etudes{
 	display: flex;
 	flex-direction: row;
 	justify-content: stretch;
 	height: 50vh;
 	width: auto;
 }
#Etudes2{
	display: flex;
 	flex-direction: row;
 	justify-content: stretch;
 	height: 50vh;
 	color: white;	

}
 .redim{
 	border-radius: 50%;
 	width: 20%;
 	margin-left: auto;
 	margin-right: auto;
 	height: 40vh;
 	text-align: center;
 }

video{
	width: auto;
	height: 120px;
	position: sticky;
	top: 8%;
	left: 90%;
	margin: 5;
	padding: 0;
	overflow: hidden;

}

.icone{
	height: 40px;
	width: auto;
}

footer{
	display: block;
	float: right;
	background-color: white; 
}

#p1{

	margin-left: 10%;
	text-align: center;
}
#p2{
	margin-left: 16%;
	text-align: center;
}
#p3{
	margin-left: 20%;
	text-align: center;
}

#TC{
	font-size: 1.2em;
}


#Competences{

	height: 100vh;
	width: auto;
	justify-content: center;
	margin-top: 18%;
}

#Gauche{
	display: block;
	float: left;
	color: #29627e;
    font-size: 2em;
    width: 40%;
}

#Droite{
	display: block;
	float: right;
	color: #29627e;
	font-size: 2em;
	width: 40%;
	top: 20%;
}

#Center{
	text-align: center;
}